<main>
  <h1 class="title">All Polls</h1>
  <div class="results">
    <mat-card appearance="outlined" class="results-card">
      <mat-card-header class="results-card-header">
        Results
      </mat-card-header>
      <hr class="hr">
      @if (allPolls.length === 0) {
        <div class="no-polls-found"><p>No polls found.</p></div>
      } @else {
        <p class="found-polls-number">Found {{allPolls.length}} poll(s)</p>
        
        @for (poll of allPolls; track $index) {
          <mat-card class="poll-card">
            <mat-card-content class="poll-content">
              <p class="poll-name">{{poll.name}}
                  @if (!poll.open) {
                    <mat-icon class="closed-icon">lock</mat-icon>
                  } @else {
                    <mat-icon class="open-icon">lock_open</mat-icon>
                  }
              </p>
              <p class="poll-description">{{poll.description}}</p>
              <p class="poll-data">All votes: {{poll.allVotes}}</p>
              <p class="poll-data">Created by: {{poll.createdBy}}</p>
              <p class="poll-data">Created at: {{poll.createdAt | readableDate}}</p>
              <p class="poll-data">Closes on: {{poll.closeDate| readableDate}}</p>
              @for (pollOption of poll.options; track $index) {
                <mat-card class="option-card">
                  <div class="stats">
                    <p class="option-text">{{$index + 1}}. {{pollOption.text}} ({{pollOption.votes}} votes)</p>
                    <p class="percentage">{{((pollOption.votes / poll.allVotes) * 100).toFixed(2)}}%</p>
                  </div>
                  <mat-progress-bar mode="determinate" [value]="(pollOption.votes / poll.allVotes) * 100"></mat-progress-bar>
                </mat-card>
              }
            </mat-card-content>
          </mat-card>
        }
      }
    </mat-card>
  </div>
</main>