<mat-nav-list>
  @if (isLoggedIn) {
    <a mat-list-item routerLink="/my-profile" routerLinkActive="active-list-item" (click)="closeSidenav()">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <span matListItemTitle>Welcome back, {{currentUser?.nickname}}!</span>
    </a>
  }
  <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closeSidenav()">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </a>
  <a mat-list-item routerLink="/topics" routerLinkActive="active-list-item" (click)="closeSidenav()">
    <mat-icon matListItemIcon>topic</mat-icon>
    <span matListItemTitle>Topics</span>
  </a>
  @if (isLoggedIn) {
    <a mat-list-item routerLink="/polls" routerLinkActive="active-list-item" (click)="closeSidenav()">
      <mat-icon matListItemIcon>rule</mat-icon>
      <span matListItemTitle>Polls</span>
    </a>
  }
  <a mat-list-item routerLink="/search" routerLinkActive="active-list-item" (click)="closeSidenav()">
      <mat-icon matListItemIcon>search</mat-icon>
      <span matListItemTitle>Search</span>
  </a>
  @if (isLoggedIn) {
    <a mat-list-item (click)="closeSidenav(); logout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Logout</span>
    </a>
  }
  @if (!isLoggedIn) {
    <a mat-list-item routerLink="/login" routerLinkActive="active-list-item" (click)="closeSidenav()">
      <mat-icon matListItemIcon>login</mat-icon>
      <span matListItemTitle>Login</span>
    </a>
  }
</mat-nav-list>