.title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-card {
    width: 60%;
    box-shadow: 0 4px 20px;
}

.results-card-header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
}

.found-topics-number {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.hr {
    margin-top: 20px;
    width: 80%;
}

.comment {
    text-align: center;
    font-size: x-large;
}

.content {
    font-weight: 500;
}

.nickname {
    font-weight: 500;
}

.commented-at {
    font-weight: 500;
}

@media (max-width: 1000px) {
    .results-card {
        width: 90%;
    }
}