<main>
  <div class="profile-container">
    <mat-card class="profile-card">
      <mat-card-header class="profile-header">
        <div class="avatar">{{currentUser.nickname[0]}}</div>
        <div class="nickname">{{currentUser.nickname}}'s profile</div>
      </mat-card-header>
      <mat-card-content class="card-content">
        <div class="user-data"><p class="data">Nickname: {{currentUser.nickname}}</p></div>
        <div class="user-data"><p class="data">First Name: {{currentUser.name.firstname}}</p></div>
        <div class="user-data"><p class="data">Last Name: {{currentUser.name.lastname}}</p></div>
        <div class="user-data"><p class="data">Email: {{currentUser.email}}</p></div>
        <div class="user-data"><p class="data">Signup date: {{currentUser.signupDate | readableDate}}</p></div>
        <div class="user-data"><p class="data">Role: {{currentUser.role | readableRole}}</p></div>
      </mat-card-content>
    </mat-card>
  </div>
</main>
