<mat-card class="form-card">
    <form (ngSubmit)="onSignup()" class="signup-form">
        <mat-card-header>
            <mat-card-title class="signup-text">Sign up</mat-card-title>
        </mat-card-header>

        <mat-card-content class="signup-card">
            <mat-form-field appearance="outline">
                <mat-label>Nickname</mat-label>
                <input matInput>
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-hint>Your nickname must consist of at least 2 letters.</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput>
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>example&#64;email.com</mat-hint>
            </mat-form-field>

            <div class="name-row">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput>
                <mat-icon matSuffix>key</mat-icon>
                <mat-hint>Your password must be at least 8 letters long.</mat-hint>
            </mat-form-field>
        </mat-card-content>
        
        <button mat-flat-button color="primary" type="submit" class="signup-btn">Sign up</button>
        <p class="login-href">Already have an account? <a [routerLink]="['/login']">Log in</a></p>
    </form>    
</mat-card>

