.title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.form-field {
    width: 60%;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-card {
    width: 90%;
    box-shadow: 0 4px 20px;
}

.results-card-header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
}

.found-topics-number {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.no-topics-found {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.hr {
    margin-top: 20px;
    width: 80%;
}

.table-content {
    overflow-x: auto;
}